# ===============================
# 🔒 Python cache & temp files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# ===============================
# 🔒 Virtual environments
# ===============================
venv/
.env/

# ===============================
# 🔒 OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# 🔒 Large datasets (DO NOT UPLOAD)
# ===============================
data/*.csv
data/*.csv.gz
data/*.json
data/*.json.gz

# ===============================
# 🔒 Trained models (too large)
# ===============================
models/*.pkl
models/*.joblib

# ===============================
# 🔒 Secrets / config
# ===============================
/config.yaml



# ===============================
# 🔒 Logs
# ===============================
*.log
